<div class="tab">
  <ul class="cards">
    <li class="card">
    <figure >
    <img src="/_images/me/face2.jpeg" />

    </figure>
      </li>
      <li class="card">
          <h2>Robert Kwapich</h2> <br>
          <h4>Interdisciplinary Data Analyst</h4>
  {% include contact-link.html %}
      </li>

  </ul>

<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

<!-- ############################################################  -->
<!-- ############################################################  -->
<!-- ############################################################  -->

<div class="mast__container" align="justify">
  <div class="pagination">
    SUMMARY
  </div>
  <p><font  face="Arizonia" size="25">I</font> am an interdisciplinary data engineer that enjoys working in the domain of genomic medicine and bioinformatics.

    I can work with modern architectures and frameworks for Artificial Intelligence applied for sequences, natural language, and images.
    I am working as a Bioinformatics Data Analyst since 2016 to manage, quality-control, analyze and interpret small and big data in genomics research in the context of autoimmune diseases.
    My medical physics background gave me analytical skills and an interdisciplinary flavor that allows me to work and communicate in diverse environments.
</p>
</div>

  <div class="mast__container">
    <p>My CV is posted below, you can also download it in PDF format <a target="_blank" href="/_files/CV_may_2018.pdf"><b><u>here</u></b></a>.
    </p>
</div>

<!-- ############################################################  -->
<!-- ############################################################  -->
<!-- ############################################################  -->

<div class="mast__container">
  <div class="pagination">
        Work experience
  </div>

<!-- ############################################################  -->
<div>
<h5>
  <a target="_blank" href="https://www.feinsteininstitute.org/robert-s-boas-center-for-genomics-and-human-genetics/">
    <img src="/_images/cv/feinstein.png"  alt="Feinstein Institute for Medical Research" style="display:inline;width:65px;height:65px">
    Bioinformatics Data Analyst / Research Assistant
  </a>
</h5>
<p vspace=1> Feinstein Institute for Medical Research, New York, NY USA <br/>
  Robert S. Boas Center for Genomics and Human Genetics </br>
<i><font size=3>July 2018 - NOW </font></i>
<ul > <font size=3.0>
 <li>- Management and quality control of the Genotype and Phenotype Registry (GAP), the largest genetic database in the Northwell Health system, a resource for the study of human disease,</li>
 <li>- Single-cell and bulk RNA-sequencing analysis, Genome-Wide Association Studies (GWAS), Polygenic Risk Score (PRS) estimations,</li>
 <li>- Using neural network architecture to accurately predict subject ethnicities,</li>
 <li>- R scripting for automatization of quality control procedures,</li>
</font></ul>
 </p>
</div>

<!-- ############################################################  -->

<div>
<h5>
  <a target="_blank" href="https://gaffney.omrf.org/">
    <img src="/_images/cv/omrf.png"  alt="Oklahoma Medical Research Foundation" style="display:inline;width:65px;height:65px">
    Bioinformatics Data Analyst / Research Technician
  </a>
</h5>
<p vspace=1> Oklahoma Medical Research Foundation, Oklahoma City, OK USA <br/>
Dr. Patrick's Gaffney Lab </br>
<i><font size=3>July 2016 - June 2018 </font></i>
<ul > <font size=3.0>
 <li>- Bioinformatics analysis of human microbiome samples from 16S and Whole Metagenome Shotgun sequencing in the context of Systemic Lupus Erythematosus,</li>
 <li>- Writing and managing data analysis pipelines: bash/R/Python on Sun Grid Engine computing cluster,</li>
 <li>- Presenting results on bi-weekly meetings and scientific retreats </li>
</font></ul>
 </p>
</div>


<!-- ############################################################  -->
<div>
<h5>
  <a target="_blank" href="https://lpmv.epfl.ch/">
    <img src="/_images/cv/epfl.jpg"  alt="Ecole Polytechnique Federale de Lausanne" style="display:inline;width:100px;height:50px">
     Research Trainee
  </a>
</h5>
<p vspace=1>  Laboratory of Physics of Living Matter (LPMV), Lausanne Switzerland <br/>

<i><font size=3>August 2014 - October 2014, March 2015 </font></i>
<ul > <font size=3.0>
  <li>- Atomic Force Microscopy imaging,</li>
  <li>- Data analysis of gather DNA profiles,  </li>
  <li>- Prototype development support  for 'BioSemic' startup project, aiming at providing new micro-engineering based diagnostic tools for personalized healthcare.
    Integration of stepper motors into prototype, automatization of laser-mirror alignment for detection system in Matlab Simulink environment,  </li>
 <li>- Presenting results on weekly meetings and scientific retreats </li>
</font></ul>
 </p>
</div>


<!-- ############################################################  -->

<div>
<h5>
  <a target="_blank" href="https://lpmv.epfl.ch/">
    <img src="/_images/cv/logo_megrez.jpg"  alt="Megrez Wojewódzki Szpital Ppecjalistyczny w Tychach  " style="display:inline;width:100px;height:50px">
     Trainee
  </a>
</h5>
<p vspace=1>  Provincial Hospital "MEGREZ", Tychy Poland <br/>

<i><font size=3>July 2013 - August 2013</font></i>
<ul > <font size=3.0>
  <li>- Quality Assurance measurements for CT and PET scanners, </li>
  <li>- Operating diagnostic X-ray and CT imaging on patients, </li>
  <li>- Radiation and patient safety assurance</li>
</font></ul>
 </p>
</div>


</div>
<!-- END OF WORKS EXPERIENCE -->
<!-- ############################################################  -->
<!-- ############################################################  -->
<!-- ############################################################  -->

<div class="mast__container">
  <div class="pagination">
        Key skills
  </div>
  <font size=3.5>
  <table style="width:100%">
    <tr>
      <td>    <img src="/_images/cv/python.png"  alt="Python Logo" style="display:inline;width:30px;height:30px"> Python</td>
      <td> <img src="/_images/cv/spark.png" alt="Apache Spark star logo" style="display:inline;width:40px;height:30px"> Apache Spark</td>
      <td><img src="/_images/cv/scikit.png" alt="Scikit learn logo" style="display:inline;width:40px;height:30px"> Machine Learning</td>
      <td> <img src="/_images/cv/dna.png" alt="DNA free logo" style="display:inline;width:30px;height:30px">Bioinformatics </td>
    </tr>
    <tr>
      <td> <img src="/_images/cv/r_logo.png" alt="R logo" style="display:inline;width:30px;height:30px"> R</td>
      <td><img src="/_images/cv/GCP.png" alt="GCP logo" style="display:inline;width:30px;height:30px"> Google Cloud Platform</td>
      <td><img src="/_images/cv/TF.png" alt="Tensorflow logo" style="display:inline;width:30px;height:30px"> Deep Learning</td>
      <td> <img src="/_images/cv/git.png" alt="GIT logo" style="display:inline;width:30px;height:30px">GIT </td>
    </tr>
    <tr>
      <td> <img src="/_images/cv/scala.png" alt="Scala logo" style="display:inline;width:30px;height:40px"> Scala</td>
      <td><img src="/_images/cv/freq_bayes.png" alt="Frequentist vs Bayesians" style="display:inline;width:30px;height:40px"> Frequentist & Bayesian Statistics</td>
      <td><img src="/_images/cv/bash.png" alt="Bash logo" style="display:inline;width:30px;height:30px"> Shell scripting </td>
      <td> <img src="/_images/cv/linux.png" alt="Linux logo" style="display:inline;width:30px;height:30px"> Linux </td>
    </tr>
  </table>
</font>

</div>

<!-- ############################################################  -->
<!-- ############################################################  -->
<!-- ############################################################  -->

<div class="mast__container">
  <div class="pagination">
        Education
  </div>


<!-- ############################################################  -->

<div>
<h5>
  <a target="_blank" href="http://english.us.edu.pl/university-silesia-katowice">
    <img src="/_images/cv/us_logo.jpg"  alt="University of Silesia in Katowice / Uniwersytet Śląski w Katowicach " style="display:inline;width:50px;height:35px">
     <u>MSc</u> of Medical Physics @ University of Silesia
  </a>
</h5>
<p vspace=1> Katowice, Poland <br/>

<i><font size=3>February 2015 - June 2017</font></i>
 <font size=3.0>
   <ul>
      <li>- MSc thesis: <i><a href="https://github.com/vaxherra/MicrobiomeSLE/raw/master/Data/Thesis/MSc%2016S%20Microbiome.pdf">
        "Microbiome study of Systemic Lupus Erythematosus patients through Next Generation Sequencing Methods"</a> </i></li>
    <li>- Medical informatics and statistics, biocybernetics, biomaterials,
      nuclear medicine, physical methods in medicine and biology, bioelectricity and biomagnetism, radiobiology, theoretical & experimental physics, radiotheraphy
    <a target="_blank" href="/_files/cv/MSc_transcript.pdf"><u>[University Transcripts]</u> </a> </li>
   </ul>
</font>
 </p>
</div>



<!-- ############################################################  -->


<div>
<h5>
  <a target="_blank" href="http://english.us.edu.pl/university-silesia-katowice">
    <img src="/_images/cv/us_logo.jpg"  alt="University of Silesia in Katowice / Uniwersytet Śląski w Katowicach " style="display:inline;width:50px;height:35px">
     <u>BSc</u> of Medical Physics @ University of Silesia
  </a>
</h5>
<p vspace=1> Katowice, Poland <br/>

<i><font size=3>October 2011 - Feb 2015</font></i>
 <font size=3.0>
   <ul>
        <li>- BSc thesis (Polish): <i><a href="https://lukaszmachura.github.io/student/prace_dyplomowe/2015_Kwapich/03-INZ-276941-2015.pdf">
        "Multifractal detrended fluctuation analysis (MFDFA) of time series generated through motion capture of paramedic students"</a> </i></li>
    <li>- Statistical methods of data analysis, biomedical signal processing, biology and genetics, quantum mechanics, nuclear physics,
      human anatomy and pathology, medical imaging techniques, radiotherapy
    <a target="_blank" href="/_files/cv/BSc_transcript.pdf"><u>[University Transcripts] </u></a> </li>
   </ul>
</font>
 </p>
</div>




</div>

<!-- ############################################################  -->
<!-- ############################################################  -->
<!-- ############################################################  -->

<div class="mast__container">
  <div class="pagination">
        Certifications
  </div>

<div>
<h5>
  <a target="_blank" href="/_files/cv/DeepLearning/Specialization_DL.pdf"/>
    <img src="/_images/cv/DL_ai.png"  alt="Deep Learnig AI" style="display:inline;width:35px;height:35px">
      Deep Learning specialization
  </a>
</h5>
<p vspace=1>  Dr. Andrew Ng, <a href="https://deeplearning.ai"><i>deeplearning.ai</i> </a><br/>

<i><font size=3>2017-2018 </font></i>
<ul > <font size=3.0>
  <li>- <a target="_blank" href="/_files/cv/DeepLearning/NN_and_DL.pdf">Neural Networks and Deep Learning </a></li>
  <li>- <a target="_blank" href="/_files/cv/DeepLearning/Improving_DeepNN.pdf">Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization </a></li>
  <li>- <a target="_blank" href="/_files/cv/DeepLearning/Structuring_ML.pdf">Structuring Machine Learning Projects </a></li>
  <li>- <a target="_blank" href="/_files/cv/DeepLearning/SequenceModels.pdf">Convolutional Neural Networks </a></li>
  <li>- <a target="_blank" href="/_files/cv/DeepLearning/NN_and_DL.pdf">Sequence Models</a> </li>
</font></ul>
 </p>
</div>


<!-- ############################################################  -->
<div>
<h5>
  <a target="_blank" href="/_files/cv/MachineLearning/ML.pdf">
    <img src="/_images/cv/stanford_online.png"  alt="Stanford Online" style="display:inline;width:100px;height:35px">
  Machine Learning
  </a>
</h5>
<p vspace=1>  Dr. Andrew Ng, <a href="https://online.stanford.edu/"><i>Stanford Online</i> </a><br/>

<i><font size=3>2017-2018 </font></i>
<ul > <font size=3.0>
  <li>- supervised & unsupervised learning </li>
  <li>- recommender systems</li>
  <li>- anomaly detection </li>
  <li>- linear & logistic regression </li>
  <li>- Support Vector Machines </li>
  <li>- dimensionality reduction techniques </li>
  <li>- linear & logistic regression </li>
</font></ul>
 </p>
</div>


<!-- ############################################################  -->

<div>
<h5>

    <img src="/_images/cv/scala.png"  alt="Scala" style="display:inline;width:35px;height:45px">
  Functional Programming in Scala specialization

</h5> <font size=2>⬛⬛⬛⬛⬜⬜⬜⬜⬜⬜ 40% </font>
<p vspace=1> <a target="_blank" href="https://www.coursera.org/specializations/scala"> Dr. Martin Odersky et al., <i> Ecole Polytechnique Fédérale de Lausanne</i>
</br> Coursera </a><br/>

<i><font size=3>2017-2018 </font></i>
<ul > <font size=3.0>
  <li>- <a target="_blank" href="/_files/cv/Scala/01_Futional_programming_principles_SCALA.pdf"> Functional Programming Principles in Scala </a </li>
  <li>- <a target="_blank" href="/_files/cv/Scala/02_Functional_Program_Design_in_Scala.pdf"> Functional Program Design in Scala </a></li>
</font></ul>
 </p>
</div>

<!-- ############################################################  -->


<div>
<h5>
    <img src="/_images/cv/san_diego.jpeg"  alt="Stanford Online" style="display:inline;width:100px;height:35px">
    Bioinformatics Algorithms
</h5>
<font size=2>⬛⬛⬛⬜⬜⬜⬜ 43% </font>
<p vspace=1>  <a href="https://www.coursera.org/specializations/bioinformatics"><i>Dr. Pavel Pevzner, Dr. Phillip Compeau, Dr. Nikolay Vyahhi</br>
  Coursera</i> </a><br/>

<i><font size=3>2016-2018 </font></i>

<ul > <font size=3.0>
  <li>- <a target="_blank" href="/_files/cv/Bioinformatics/FindingHiddenMessagesDNA.pdf"> finding regulatory motifs, cyclopeptide sequencing,</a>  </li>
  <li>- <a target="_blank" href="/_files/cv/Bioinformatics/Genome Sequencing.pdf"> genome sequencing and assembly, biological sequence comparisons </a> </li>
  <li>- <a target="_blank" href="/_files/cv/Bioinformatics/ComparingGenesProteinsandGenomes.pdf"> comparing genes, proteins, and genomes </a> </li>
</font></ul>
 </p>
</div>

<!-- ############################################################  -->


<div>
<h5>
    <img src="/_images/cv/coursera.png "  alt="Stanford Online" style="display:inline;width:75px;height:55px">
Miscellaneous
</h5>
<p vspace=1>  <a target="_blank" href="https://www.coursera.org/"><i>Coursera</i> </a><br/>

<i><font size=3>2016-2018 </font></i>

<ul > <font size=3.0>
  <li>- <a target="_blank" href="/_files/cv/Google/GCP_fundamentals.pdf"> Google Cloud Platform Big Data and Machine Learning Fundamentals,</a>  </li>
  <li>- <a target="_blank" href="/_files/cv/Java/JavaOOP.pdf">Object Oriented Programming in Java</a> </li>

  <li>- <a target="_blank" href="/_files/cv/AdvancedMachineLearning/IntroToDL.pdf">Introduction to Deep Learning </a> </li>
  <li>- <a target="_blank" href="/_files/cv/DataScience/DataScientistToolbox.pdf">The Data Scientist’s Toolbox</a> </li>
  <li>- <a target="_blank" href="/_files/cv/DataScience/Rprogramming.pdf">R programming</a> </li>
  <li>- <a target="_blank" href="/_files/cv/GenomicDataScience/GenomicsWithGalaxy.pdf">Genomic Data Science with Galaxy </a> </li>
  <li>- <a target="_blank" href="/_files/cv/GenomicDataScience/IntroGenomicTechnologies.pdf">Introduction to Genomic Technologies</a> </li>
  <li>- <a target="_blank" href="/_files/cv/GenomicDataScience/PythonGenomicData.pdf">Python for Genomic Data Science</a> </li>
  <li>- <a target="_blank" href="/_files/cv/Other/ExploringMicrobiome.pdf">Exploring microbiome</a> </li>
</font></ul>
 </p>
</div>

<!-- ############################################################  -->




<!-- ############################################################  -->

</div>


<!-- ############################################################  -->
<!-- ############################################################  -->
<!-- ############################################################  -->

<div class="mast__container">
  <div class="pagination">
      Publications
  </div>


<!-- ############################################################  -->


<div>
<h5>
  <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4344501/">
    <img src="/_images/cv/nar.png"  alt="Nucleic Acids Research " style="display:inline;width:100px;height:35px">
     Effects of physiological self-crowding of DNA on shape and biological properties of DNA molecules with various levels of supercoiling
  </a>
</h5>
<p vspace=1> F. Benedetti, A. Japaridze, J.Dorier, D.Racko, <u>R. Kwapich</u>, Y.Burnier, G.Dietler, A. Stasiak <br/>

<i><font size=3>Feb 2015, Nucleic Acids Research</font></i>
 </p>
</div>



<!-- ############################################################  -->




</div>



  {% include archive-link.html %}
</div>
